<app-default-login-layout
    title="Cadastre-se e começe hoje"
    primaryBtnText="Cadastrar usuário"
    secondBtnText="Fazer login"
    (submit)="submit()"
    (navigate)="navigate()">

<form [formGroup]="signupForm">
    <app-pirmary-input
    formControlName="name"
    inputName="name"
    type="text"
    label="Nome Completo"
    placeholder="Donizete Junior"
        >  
    </app-pirmary-input>
    <app-pirmary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="bellsystem@gmail.com"
    >
    </app-pirmary-input>
        <app-pirmary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Senha">
    </app-pirmary-input>

    <app-pirmary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirmar senha">
</app-pirmary-input>
</form>
</app-default-login-layout>