<main>
    <section class="form-section">
        <img src="/assets/images/logofit.png" alt="">
        <ng-content></ng-content>
        <div class="btn-wrapper">
                <button 
                    class="btn-primary">{{primaryBtnText}}
                </button>
                <div class="divider">
                    <div></div>
                        <span>Ou</span>
                    <div></div>
                </div>
                <button class="btn-secondary">{{secondBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <img src="/assets/images/mova-se.png" alt="" style="width: 30%;">
        <img src="/assets/images/run.webp" alt="" style="width: 30%;">
    </section>
</main>