<main>
    <section class="form-section">
        <img src="/assets/images/logo2.png" alt="">
        <ng-content></ng-content>
        <div class="btn-wrapper">
                <button 
                    class="btn-primary">{{primaryBtnText}}
                </button>
                <div class="divider">
                    <div></div>
                        <span>Ou</span>
                    <div></div>
                </div>
                <button class="btn-secondary">{{secondBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <h2>Você Precisa se mover!</h2>
        <img src="/assets/images/logo.png" alt="">
    </section>
</main>