<main>
    <section class="form-section">
        <img src="/assets/images/logofit.png" alt="">
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
                <button  
                    class="btn-primary" 
                    (click)="submit()"
                    >
                    {{primaryBtnText}}
                </button>
                <div class="divider">
                    <div></div>
                        <span>Ou</span>
                    <div></div>
                </div>
                <button class="btn-secondary" (click)="navigate()">{{secondBtnText}}</button>
        </div>
    </section>
    <section class="main-section">
        <img src="/assets/images/mova-se.png" alt="" style="width: 30%;">
        <img src="/assets/images/run.webp" alt="" style="width: 30%;">
    </section>
</main>